.App {
  display: flex;
  padding: 0 24px;
  background-color: #282c34;
  min-height: 900px;
}

.color--white {
  color: #ffffff;
}

.fontweight-500 {
  font-weight: 500;
}

.kits-search {
  height: 500px;
  width: 500px;
}

.kits-search__input {
  width: 300px;
}

.kits-search__autocomplete {
  margin-left: 1px;
  background-color: #ffffff;
  max-height: 200px;
  overflow-y: auto;
  width: 306px;
  box-shadow: 0 0 1px 1px white;
  border-radius: 5px;
}

.kit-information {
  margin-top: 48px;
}
